<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DARK_SHOP</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>
<body>
<h2>ADMIN PANEL</h2>

<table table id="example" class="table table-bordered" style="width: 100%">
    <tr>
        <th>EMAILE</th>
        <th>PHONE</th>
        <th>ACTIVE</th>
        <th>ROLE</th>
        <th>BAN</th>
        <th>EDITING</th>
        <th>Delete</th>
        <th>DETAILED INFORMATION</th>
    </tr>
    <tr th:each="user : ${users}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.active}"></td>
        <td th:each="role,iterStat: ${user.roles}">
            <span th:text="${role}"/>
        </td>
        <td>
            <form th:action="@{'/admin/user/ban/' + ${user.id}}">
                <input type="hidden" th:name="${_csrf}" th:value="${_csrf.token}">
                <input type="submit" value="Ban">
            </form>
        </td>
        <td>
            <form th:action="@{/admin/user/edit/{id}(id=*{user.id})}" th:method="put">
                <input type="hidden" name="_method" value="Editing"/>
                <input type="submit" value="Editing"/>
            </form>
        </td>

        <td>
            <form th:action="@{/admin/user/delete/{id}(id=*{user.id})}" th:method="delete">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" value="delete"/>
            </form>
        </td>
        <td>
            <a th:href="@{'/user/'+ ${user.id}}">Продавец</a>
        </td>

    </tr>
</table>
</body>
</html>
