<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DARK_SHOP</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>
<body>
<h1>Stolen goods from around the world.</h1>
<td th:if="${user.email}">
    <form action="/profile" method="get">
        <input type="submit" value="Ваш аккаунт"/>
    </form>
</td>

<th>
    <td th:if="${user.email}">
        <h3>Имя пользователя: <i th:text="${user.name}"></i></h3>
        <form action="/logout" method="post">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <input type="submit" value="Выйти"/>
        </form>
    </td>
    <td th:unless="${user.email}">
        <form action="/login" method="post">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
            <input type="submit" value="войти"/>
        </form>
    </td>
</th>

<form action="/" method="get">
    Поиск по названию объявления: <input type="text" name="searchWord"><br>
    <input type="submit" value="Поиск"/>
</form>
<table table id="example" class="table table-bordered" style="width: 100%">
    <tr>
        <th>TITLE</th>
        <th>PRICE</th>
    </tr>
    <tr th:each="prod : ${products}">
        <td th:text="${prod.title}"></td>
        <td th:text="${prod.price}  + руб"></td>
        <td>
            <a th:href="@{'/product/'+ ${prod.id}}" >подробнее</a>
        </td>
    </tr>
</table>
</body>
</html>
