<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BYSELL</title>
</head>
<body>
<h1>HELLO</h1><hr>
<h2>GOODS</h2>
<b th:text="${product.title}"> название товара </b><br>
<b th:text="${product.description}"> название товара </b><br>
<b th:text="${product.price}"> название товара </b><br>
<b th:text="${product.city}"> название товара </b><br>
<b th:text="${product.author}"> название товара </b><br>
<h3>Create new produkt</h3>
<form action="/product/delete/product.id" method="post">

  <input type="submit" value="Удалить"/>
</form>
</body>
</html>

