<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DARK_SHOP</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>
<body style="background-color: #508bfc">
<h1>Stolen goods from around the world.</h1>
    <th>
        <td th:if="${user.email}">
            <h3>Имя пользователя: <i th:text="${user.name}"></i></h3>
        </td>
    </th>

    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <td th:if="${user.email}">
            <form action="/profile" method="get">
                <input type="submit"  class="btn btn-dark" value="Ваш аккаунт"/>
            </form>
        </td>
        <td th:if="${user.email}">
            <form action="/logout" method="post">
                <input type="hidden"  th:name="_csrf" th:value="${_csrf.token}">
                <input type="submit"  class="btn btn-dark" value="Выйти"/>
            </form>
        </td>
        <td th:unless="${user.email}">
            <form action="/login" method="post">
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
                <input type="submit"  class="btn btn-dark" value="войти"/>
            </form>
        </td>
    </div>


<form action="/" method="get">
    <input type="text" class="btn btn-dark" name="searchWord">Поиск по названию объявления: <br>
    <input type="submit" class="btn btn-dark" value="Поиск"/>
</form><br>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="card-columns">
                        <div th:each="prod : ${products}">
                            <a th:href="@{'/product/'+ ${prod.id}}" class="product-link">
                                <div class="card">

                                    <img th:src="@{'/images/'+ ${prod.getPreviewImageId()}} "
                                        class="card-img-top">
                                    <div class="card-body">
                                        <td th:text="${prod.title}"></td><br>
                                        <td th:text="${prod.price}  + руб"></td><br>
                                    </div>
                                    <div class="card-footer">
                                        <td th:text="${prod.city}"></td><br>
                                    </div>
                                </div>
                            </a>
                        </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
