<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BYSELL</title>
  <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>

<body>
<h1 th:text="${product.title}"></h1>
<h2>GOODS</h2>


<tr th:each="img : ${images}">
  <td><img th:src="@{'/images/' + ${img.id}}" height="100px"></td><br><br>
</tr>

<b название товара th:text="${product.title}"> </b><br>
<b описание товара th:text="${product.description}">  </b><br>
<b цена th:text="${product.price}">  </b><br>
<b город th:text="${product.city}">  </b><br>
<b Имя th:text="${product.user.name}">  </b><br>
<b Номер телефона th:text="${product.user.getPhoneNumber()}">   </b><br>
</body>
</html>

