<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BYSELL</title>
</head>
<body>
<h1>HELLO| <a href="/login">Войти</a></h1><hr>
<h2>MY GOODS</h2>
<form action="/logout" method="post">
    <input type="hidden" th:name="${_csrf}" th:value="${_csrf.token}">
    <input type="submit" value="Выйти">
</form>
<form action="/" method="get">
    Поиск по названию объявления: <input type="text" name="title"><br>
    <input type="submit" value="Поиск"/>
</form>
<table>
    <tr>
        <th>TITLE</th>
        <th>PRICE</th>
    </tr>
    <tr th:each="prod : ${product}">
        <td th:text="${prod.title}"></td>
        <td th:text="${prod.price}  + руб"></td>
        <td>
            <a th:href="@{'/product/'+ ${prod.id}}" >подробнее</a>
        </td>
    </tr>
</table>
<h3>Create new prod</h3>
<form action="/product/create" method="post" enctype="multipart/form-data">
    Name of the advertisement : <input type="text" name="title"/><br><br>
    Description of the advertisement : <input type="text" name="description"/><br><br>
    Price : <input type="number" name="price"/><br><br>
    City : <input type="text" name="city"/><br><br>
    Name : <input type="text" name="author"/><br><br>

    First photo : <input type="file" name="file1"/><br><br>
    Second photo : <input type="file" name="file2"/><br><br>
    Third photo :  <input type="file" name="file3"/><br><br>
    <input type="submit" value="Добавить товар"/>
</form>
</body>
</html>
