<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DARK_SHOP</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>

<body>
<b th:text="'Name :' + ${user.name}">  </b><br>
<b th:text="'Number Phone :'+${user.phoneNumber}">   </b><br>
<b th:text="'Email :'+${user.email}">   </b><br>
<!--
<td th:if="${images}">
    <img th:src="@{'/image/'+ ${user.avatar.id}}" height="100px" >
</td>
-->



<form th:action="@{'/create/' + ${user.id}}" method="post" enctype="multipart/form-data">
    Name : <input type="text" name="name"/><br><br>
    Email : <input type="email" name="email"/><br><br>
    Phone Number : <input type="text" name="phoneNumber"/><br><br>
    Password : <input type="password" name="password"/><br><br>
<!--    First photo : <input type="file" name="file4"/><br><br>-->
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Изменить"/>
</form>
<form action="/profile" method="get">
    <input type="submit" value="назад"/>
</form>
</body>
</html>

