<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DARK_SHOP</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>
<body>
<h1>Подробная информация о пользователе</h1>
<b th:text="'Name :' + ${user.name}"> </b><br>
<b th:text="'Number Phone :'+${user.getPhoneNumber()}"> </b><br>
<h3>Все товары продовца</h3>
<table table id="example" class="table table-bordered" style="width: 100%">
    <tr>
        <th>TITLE</th>
        <th>PRICE</th>
    </tr>
    <tr th:each="prod : ${products}">
        <td th:text="${prod.title}"></td>
        <td th:text="${prod.price}  + руб"></td>
        <td>
            <a th:href="@{'/products/'+ ${prod.id}}">подробнее</a>
        </td>
    </tr>
</table>

</body>
</html>
